@font-face {
  font-family: "Pixel";
  src: url("../font/Pixel-LCD-7.woff");
}
body {
  margin: 0;
  font-family: "Pixel";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mobile-controls {
  display: none;
  padding: 20px 10px;
}
.controls-wrapper {
  display: flex;
  justify-content: center;
}

.mobile-controls i{
  padding: 17px;
  background: rgb(25, 5, 34);
  color: #fff;
  user-select: none;
  border-radius: 15px;
  min-width: 90px;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 500px) {
  .stage-div {
    grid-template-rows: repeat(20, calc(45vw / 12)) !important;
    max-width: 45vw !important;
  }
}

@media (max-width: 501px) {
  .mobile-controls {
    display: block;
  }
}
